<!DOCTYPE html>
<html>
<head>
    <title>Congratulations for Shortlisted</title>
</head>
<body>
    <p>Dear {{ data.recipient_name }},</p>
    <p>We are pleased to inform you that you have been shortlisted for the position of {{data.job_title}} at Axis Bank. Congratulations on making it to the next stage of our selection process!</p>
    <p>Your application ID is: {{data.application_id}}</p>
    <p>As part of the evaluation process, we would like you to complete an assessment within the next three days. This assessment will help us better understand your skills and suitability for the role.</p>
    <p>
        <strong>Assessment Link:</strong> <a href="{{data.assessment_link}}">Click here to take the assessment</a>
    </p>

    <p>Please ensure that you allocate sufficient time and focus when taking the assessment. We value your effort and commitment to this opportunity.</p>

    <p>If you have any questions or face any technical issues while taking the assessment, please don't hesitate to reach out to our HR team at <a href="mailto:axishackathon97@gmail.com">axishackathon97@gmail.com</a> </p>

    <p>Once again, congratulations on your achievement, and we look forward to further reviewing your candidacy.</p>

    <p>Best regards,</p>
    <p>AI Bank Hackers</p>
    <p>HR Manager</p>
    <p>AXIS HACKS</p>
    <p>Contact Email: <a href="mailto:axishackathon97@gmail.com">axishackathon97@gmail.com</a></p>
</body>
</html>
